## [**About Dataset - Kaggle**](https://www.kaggle.com/datasets/malharkhatu/airline-passenger-reviews/datat)

### Context

This dataset is created to practice various text classification techniques.

The text data is collected using praw API from reddit.com.

### Mais sobre esses dados

No conjunto de dados, comentários na internet foram separados de acordo com o local onde estes foram postados.<br>
Os comentários foram separados em três categorias:

- **Física**
- **Quimica**
- **Biologia**

In [23]:
import pandas as pd
import random
import os
from sklearn.model_selection import train_test_split

In [24]:
# Transforma string em inteiro
def nome_para_inteiro(nome):
    nome = nome.upper()  # Converter para maiúsculas para tratar maiúsculas e minúsculas da mesma forma
    valor_inteiro = 0
    
    for letra in nome:
        # Verificar se a letra está no alfabeto (A a Z)
        if 'A' <= letra <= 'Z':
            valor_inteiro += ord(letra) - ord('A') + 1  # Valor de 'A' é 1, 'B' é 2, ..., 'Z' é 26
    
    return valor_inteiro

In [25]:
os.listdir()

['.git',
 '.gitattributes',
 'Cria base de dados Treino e Teste - QUARTETO.ipynb',
 'dados_teste_QUARTETO_Danilo, Leonardo, Thomas.csv',
 'dados_teste_QUARTETO_Danilo.csv',
 'dados_treino_QUARTETO_Danilo, Leonardo, Thomas.csv',
 'dados_treino_QUARTETO_Danilo.csv',
 'disciplines.csv',
 'Projeto1 Template.ipynb']

In [26]:
# Ler o arquivo de dados 
dados = pd.read_csv('disciplines.csv', encoding='utf-8-sig')
nomes_colunas = ['Comment','Topic']
dados = dados[['Comment','Topic']]
dados

                                                 Comment      Topic
0      A few things. You might have negative- frequen...    Biology
1      Is it so hard to believe that there exist part...    Physics
2                                         There are bees    Biology
3      I'm a medication technician. And that's alot o...    Biology
4                         Cesium is such a pretty metal.  Chemistry
...                                                  ...        ...
10276  I’m not really denying your intent. I’m a) dou...  Chemistry
10277  i really empathize with your compassion for bu...    Biology
10278  If you want to keep it for more than 2 weeks, ...  Chemistry
10279  Same here. I’m in nursing school so I only hav...    Biology
10280  The video basically says read a pop-sci book a...    Physics

[10281 rows x 2 columns]

In [27]:
nome = input("Digite seu usernome: ")
valor_inteiro = nome_para_inteiro(nome)

In [28]:
# Embaralhar as linhas do conjunto de dados
dados_embaralhados = dados.sample(frac=6000/dados.shape[0], random_state=valor_inteiro)
dados_embaralhados.columns

Index(['Comment', 'Topic'], dtype='object')

In [29]:
# Separar os dados de treino e teste 
X = dados_embaralhados.Comment
y = dados_embaralhados.Topic
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=valor_inteiro)

dados_treino = pd.concat([X_train, y_train],axis=1)
dados_treino.columns = nomes_colunas
dados_teste = pd.concat([X_test, y_test],axis=1)
dados_teste.columns = nomes_colunas

In [30]:
print(dados_treino.Topic.value_counts(True))
print(dados_teste.Topic.value_counts(True))

Topic
Biology      0.41381
Chemistry    0.33000
Physics      0.25619
Name: proportion, dtype: float64
Topic
Biology      0.409444
Chemistry    0.332222
Physics      0.258333
Name: proportion, dtype: float64

In [31]:
# Salvar os dados de treino e teste em arquivos CSV
nome_arquivo_treino = 'dados_treino_QUARTETO_'+nome+'.csv'
nome_arquivo_teste = 'dados_teste_QUARTETO_'+nome+'.csv'

dados_treino.to_csv(nome_arquivo_treino,index = False, header=True)
dados_teste.to_csv(nome_arquivo_teste, index=False)#, engine='xlsxwriter')

print(f"Dados de treino e teste foram salvos em '{nome_arquivo_treino}' e '{nome_arquivo_teste}'.")

Dados de treino e teste foram salvos em 'dados_treino_QUARTETO_Danilo_Leonardo_Thomas.csv' e 'dados_teste_QUARTETO_Danilo_Leonardo_Thomas.csv'.

In [32]:
# COMANDO QUE DEVE COLOCAR NO TEMPLATE Projeto1_Template.ipynb para LER a base de dados TREINO
# Faça adaptações digitando o nome (username) considerado
pd.read_csv('dados_treino_QUARTETO_'+nome+'.csv')

                                                Comment      Topic
0     If you pile up electrons in a hypothetical cha...    Physics
1     Is it the infamous kill-you-dead Brazilian wan...    Biology
2     What a dumb fucking question. No you moron the...    Biology
3     Yes!  Humans in North America have really led ...    Biology
4            Take my award. What an underrated comment.  Chemistry
...                                                 ...        ...
4195  I don’t know, but the sooner you can get it to...    Biology
4196  This man is a troll. Though the real culprit a...    Biology
4197  There needs to be some automod that removes th...    Biology
4198  Yeah, this should be the official name.  A duc...    Physics
4199  Ok, next question: Could parts of the mRNA vac...    Biology

[4200 rows x 2 columns]

In [33]:
# COMANDO QUE DEVE COLOCAR NO TEMPLATE Projeto1_Template.ipynb para LER a base de dados TESTE
# Faça adaptações digitando o nome (username) considerado
pd.read_csv('dados_teste_QUARTETO_'+nome+'.csv')

                                                Comment      Topic
0     Wait wouldn’t the wings rip off before the res...    Biology
1     It's pretty much the same idea behind people a...    Biology
2     Yeah, good to know. We had a crazy infestation...    Biology
3                                     It’s a kiwi doggy    Biology
4     You're absolutely right about the flu not kill...    Biology
...                                                 ...        ...
1795  Wheel bug I think. Only reason I know this is ...    Biology
1796  https://www.reddit.com/r/Physics/comments/q9xj...    Physics
1797                                     Soul fire IRL!  Chemistry
1798  I thought this was that ice cream spelt like t...    Biology
1799  She's a contrarian who wants to tear down anyt...    Physics

[1800 rows x 2 columns]